@charset "utf-8";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-background);
  padding: 3rem 0;
  text-align: center;
}

.footer__title {
  display: block;
  color: var(--title-color);
  font-family: 'Sansita', sans-serif;
  font-size: 34px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__menu--navigation {
  display: block;
}

.footer__menu--navigation--list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.footer__menu--navigation--list--item {
  display: block;
  list-style: none;
  margin: 1rem .5rem;
}

.footer__menu--navigation--list--item--link {
  display: block;
  color: var(--nav-option-color);
  font-family: 'Sansita', sans-serif;
  padding: .5rem .5rem;
  font-size: 20px;
  transition: .4s;
  -o-transition: .4s;
  -moz-transition: .4s;
  -webkit-transition: .4s;
}

.footer__menu--navigation--list--item--link::after {
  content: '';
  display: block;
  margin: 0 auto;
  position: relative;
  height: 2px;
  width: 100%;
  background-color: #E63946;
  top: 6px;
  transition: .4s;
  -o-transition: .4s;
  -moz-transition: .4s;
  -webkit-transition: .4s;
}

.footer__menu--navigation--list--item--link:hover {
  color: var(--nav-option-color);
}

.footer__menu--navigation--list--item--link:hover::after {
  background-color: #fff;
}

.footer__contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.footer__contato__sociais {
  display: block;
  margin-top: 30px;
}

.footer__contato__sociais--link {
  display: inline-block;
  margin: 0 .4rem;
  position: relative;
  top: 0;
  transition: .4s;
  -o-transition: .4s;
  -moz-transition: .4s;
  -webkit-transition: .4s;
}

.footer__contato__sociais--link:hover {
  top: -10px;
}

.footer__endereco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.footer__endereco--address {
  display: block;
  text-align: center;
  color: #ffffff;
  font-family: 'Sansita', sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin-top: 30px;
}

.footer__search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-top: 50px;
}

.footer__search__form {
  display: block;
  margin-top: 20px;
}

.footer__search__form--input {
  display: block;
  background-color: var(--input-busca-background);
  border: 0 none;
  border-radius: 5px;
  height: 27px;
  margin-top: 20px;
}

.footer__search__form--input::placeholder {
  padding-left: 18px;
  color: var(--input-busca-color);
  font-family: 'Sansita', sans-serif;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 35px;
  }

  .footer__endereco--address {
    text-align: left;
  }

  .footer__contato, .footer__menu--navigation--list, .footer__endereco, .footer__search {
    margin-top: 0;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    gap: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    gap: 180px;
  }
}