@charset "uft-8";

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--header-background);
  padding: 2rem 0 3rem 0;
}

.header__sobre {
  background-color: var(--header-sobre-background);
}

.header__logo {
  display: block;
  width: 209px;
  height: 57px;
  color: var(--logo-color);
  font-family: 'Zeyada', cursive;
  text-align: center;
  font-size: 64px;
}

.hl-sobre{
  color: var(--logo-sobre-color);
}

header nav {
  display: block;
}

header nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

header nav ul li {
  display: block;
  list-style: none;
  margin: 1rem .5rem;
}

header nav ul li a {
  display: block;
  color: var(--nav-option-color);
  font-family: 'Sansita', sans-serif;
  padding: .5rem .5rem;
  font-size: 20px;
  -o-transition: .4s;
  -moz-transition: .4s;
  -webkit-transition: .4s;
  transition: .4s;
  
}

header nav ul li a::after {
  content: '';
  display: block;
  margin: 0 auto;
  position: relative;
  height: 2px;
  width: 100%;
  background-color: #E63946;
  top: 6px;
  -o-transition: .4s;
  -moz-transition: .4s;
  -webkit-transition: .4s;
  transition: .4s;
}

header nav ul li a:hover {
  color: #cfd1cf;
  box-shadow: 0px 8px 8px -7px rgba(0,0,0,1);
}

header nav ul li a:hover::after {
  background-color: #fff;
}

.header__sobre__menu--navigation--list--item--link {
  color: var(--nav-sobre-option-color);
}

.header__sobre__menu--navigation--list--item--link:hover {
  color: #4274bb;
}

@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
    padding: 2rem 0;
    gap: 10px;
  }

  header nav ul {
    flex-direction: row;
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  header {
    gap: 240px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    gap: 440px;
  }
}