.main {
    background-color: var(--main-sobre-background);
    padding: 4rem 0;
    height: 100vh;
}

.concluido__title {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: "Zeyada", cursive;
    color: var(--nav-sobre-option-color);
    font-size: 4em;
}

.concluido__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 817px;
    padding: 2.5rem 0;
    background-color: var(--header-sobre-background);
    box-sizing: border-box;
    margin-top: 2rem;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(30,30,30,.4);
    -moz-box-shadow: 5px 5px 5px 0px rgba(30,30,30,.4);
    box-shadow: 5px 5px 5px 0px rgba(30,30,30,.4);
}

.concluido__img {
    display: block;
}

.concluido__text {
    display: block;
    width: 100%;
    max-width: 375px;
    text-align: center;
    color: var(--nossasunidades-text-color);
    font-family: "Montserrat", sans-serif;
    font-size: 2.25em;
    line-height: 1.2em;
    position: relative;
    box-sizing: border-box;
    margin: 3rem 0;
}

.text__img {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 8px;
}

.concluido__entrar {
    display: block;
    padding: 1.5rem 5.02rem;
    text-align: center;
    background-color: #ffffff;
    color: var(--nossaHistoria-color);
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    cursor: pointer;
    border: 2px solid var(--input-border-color);
    border-radius: .4rem;
    box-shadow: 0px 8px 8px -7px rgba(0,0,0,.5);
    -o-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}

.concluido__entrar:hover {
    background-color: var(--nossaHistoria-color);
    color: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: 10px 14px 8px -7px rgba(0,0,0,.5);
}

@media screen and (min-width: 375px) {
    .text__img {
        right: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .main {
        padding: 4rem 0;
    }

    .concluido__content {
        padding: 3rem 0;
        border-radius: .6rem;

    }

}